 
  main {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    margin: auto;
    width: 90%;
    max-width: 650px;
    min-width: 380px;
  }
  
/* sub title */
  main > h2 {
    text-align: center;
    font-size: var(--size-4);
    font-family: var(--sub-heading-family);
    font-weight: var(--sub-heading-weight);
    color: var(--text-color-dark);
    margin: 0;
    margin-top: var(--size-2);
  }
  
  /* continent picker */
  .continent-picker {
    display: flex;
    flex-direction: column;
    padding-left: var(--size-5);
    padding-right: var(--size-5);
    flex-wrap: wrap;
    justify-content: center;
    row-gap: var(--size-2);
    column-gap: var(--size-5);
  }
  
  button {
    display: inline-flex;
    padding: var(--button-padding);
    white-space: nowrap;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    border-radius: var(--radius);
    border-width: var(--border-size);
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color-dark);
    border-color: var(--text-color-dark);
  }
  
  button:active:not(.focus-visible) {
    position: relative;
  }
  
  button:active:not(:focus-visible) {
    position: relative;
  }
  
  button:is(:hover) {
    color: var(--gray-mid);
    border-color: var(--gray-mid);
  }
  
  button.selected {
    color: var(--brand-color);
    border-color: var(--brand-color);
  }
  
  button.selected:is(:hover) {
    color: var(--brand-color-darker);
    border-color: var(--brand-color-darker);
  }
  
  /* country picker */
  .country-picker {
    display: grid;
    grid-gap: var(--size-1);
    margin: auto;
    padding-left: var(--size-6);
  }
  
  label {
    color: var(--text-color-dark);
    font-size: var(--size-2);
    font-weight: var(--weight-s);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    margin-top: 0;
    user-select: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  label:focus-within, label:is(:hover) {
    color: var(--gray-dark);
  }
  
  label.selected {
    color: var(--brand-color);
  }
  
  label.selected:is(:hover) {
    color: var(--brand-color-darker);
  }
  
  label input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  @media (min-width: 400px) {
    main > h2 {
      font-size: var(--sub-heading-size);
      margin-top: var(--size-5)
    }
  }

  @media (min-width: 500px) {
    .country-picker { grid-template-columns: repeat(2, 1fr); }
    .continent-picker { flex-direction: row; }
  }
  
  @media (min-width: 700px) {
    .country-picker { grid-template-columns: repeat(3, 1fr); }
  }
  
  @media (min-width: 900px) {
    .country-picker { grid-template-columns: repeat(4, 1fr); }
  }